{
    "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        [
            "module-resolver",
            {
                "root": ["src/"],
                "extensions": [".ts", ".tsx", ".jsx", ".js", ".json"],
                "alias": {
                    "@components": "./src/components",
                    "@hooks": "./src/hooks",
                    "@pages": "./src/pages",
                    "@store": "./src/store",
                    "@lib": "./src/lib",
                    "@api": "./src/api",
                    "@context": "./src/context",
                    "@@types": "./src/types/index.ts"
                }
            }
        ]
    ]
}
