{
    "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        [
            "module-resolver",
            {
                "root": ["./src"],
                "extensions": [".ts", ".tsx", ".jsx", ".js", ".json"],
                "alias": {
                    "@components": "./src/Components",
                    "@hooks": "./src/Hooks",
                    "@pages": "./src/Pages",
                    "@store": "./src/Store",
                    "@lib": "./src/Lib",
                    "@context": "./src/Context",
                    "_types": "./src/Types"
                }
            }
        ]
    ]
}
